# Multi-model training configuration tuned for ~6000 tiles (576x576)
experiment_root: train_experiments
pretrained_weights_dir: model/pretrained
config_cache_dir: model/configs
random_seed: 42

classes:
  - collembola

datasets:
  - name: train-labelme-michamorechecked
    images: data/train-labelme-michamorechecked
    labels: data/train-labelme-michamorechecked
  - name: train-labelme-everton
    images: data/train-labelme-everton
    labels: data/train-labelme-everton
  - name: train-labelme-coimbrachecked
    images: data/train-labelme-coimbrachecked
    labels: data/train-labelme-coimbrachecked
  - name: train-labelme-bart
    images: data/train-labelme-bart
    labels: data/train-labelme-bart
  - name: train-labelme-cai_pyramids
    images: data/train-labelme-cai_pyramids
    labels: data/train-labelme-cai_pyramids

splits:
  train: 0.8
  val: 0.1
  test: 0.1

dataset:
  # tile_size is used for augmentation/resizing targets; dataset size is inferred dynamically
  tile_size: 576

image:
  target_size: 576

augmentations:
  mask_rcnn:
    random_brightness: [0.8, 1.2]
    random_contrast: [0.8, 1.2]
    random_saturation: [0.8, 1.3]
    random_lighting_scale: 0.1
    resize_shortest_edge: [480, 576, 640]
    resize_max_size: 800
    random_crop_prob: 0.3
    random_crop_relative_area: 0.7
    random_extent_prob: 0.2
    random_extent_size: [512, 512]

  mask2former:
    random_brightness: [0.7, 1.3]
    random_contrast: [0.8, 1.4]
    random_saturation: [0.7, 1.4]
    random_lighting_scale: 0.2
    resize_shortest_edge: [384, 480, 576]
    resize_max_size: 768
    random_crop_prob: 0.4
    random_crop_relative_area: 0.65
    random_extent_prob: 0.3
    random_extent_size: [480, 480]

  maskdino:
    random_brightness: [0.7, 1.4]
    random_contrast: [0.7, 1.4]
    random_saturation: [0.7, 1.4]
    random_lighting_scale: 0.25
    resize_shortest_edge: [384, 448, 512]
    resize_max_size: 640
    random_crop_prob: 0.5
    random_crop_relative_area: 0.6
    random_extent_prob: 0.35
    random_extent_size: [448, 448]

optimizer:
  name: AdamW
  base_lr: 0.0002
  weight_decay: 0.05
  betas: [0.9, 0.999]

lr_scheduler:
  name: CosineAnnealing
  warmup_iters: 500
  warmup_factor: 1.0e-5
  min_lr: 1.0e-6

solver:
  clip_gradients:
    enabled: true
    clip_type: value
    clip_value: 1.0

models:
  yolo:
    active: false
    checkpoint_url: https://github.com/ultralytics/assets/releases/download/v8.3.0/yolo11x-seg.pt
    device: "0,1,2,3"
    training:
      epochs: 120
      batch: 32
      imgsz: 576
      device: "0,1,2,3"
      lr0: 0.0005
      optimizer: AdamW
      weight_decay: 0.0005
      momentum: 0.937
      cos_lr: true
      amp: true
      warmup_epochs: 3
      workers: 8
      patience: 50
      single_cls: true
      save_period: 0
      max_det: 1000
      hsv_h: 0.015
      hsv_s: 0.5
      hsv_v: 0.3
      degrees: 10.0
      translate: 0.05
      scale: 0.5
      fliplr: 0.5
      mosaic: 1.0
      mixup: 0.0
      copy_paste: 0.1
  mask_rcnn:
    active: true
    config_file: ../installations/detectron2/configs/COCO-InstanceSegmentation/mask_rcnn_R_50_FPN_3x.yaml
    weights_url: https://dl.fbaipublicfiles.com/detectron2/COCO-InstanceSegmentation/mask_rcnn_R_50_FPN_3x/137849600/model_final_f10217.pkl
    solver:
      base_lr: 0.0002
      ims_per_batch: 16
      epochs: 40
      dataloader_workers: 4
      eval_period_epochs: 1
  mask2former:
    active: true
    config_file: ../installations/Mask2Former/configs/coco/instance-segmentation/swin/maskformer2_swin_large_IN21k_384_bs16_100ep.yaml
    weights_url: https://dl.fbaipublicfiles.com/maskformer/mask2former/coco/instance/maskformer2_swin_large_IN21k_384_bs16_100ep/model_final_e5f453.pkl
    solver:
      base_lr: 0.0002
      ims_per_batch: 12
      epochs: 60
      dataloader_workers: 4
      eval_period_epochs: 1
  maskdino:
    active: true
    config_file: ../installations/MaskDINO/configs/coco/instance-segmentation/maskdino_R50_bs16_50ep_3s.yaml
    weights_url: https://github.com/IDEA-Research/detrex-storage/releases/download/maskdino-v0.1.0/maskdino_r50_50ep_300q_hid1024_3sd1_instance_maskenhanced_mask46.1ap_box51.5ap.pth
    solver:
      base_lr: 0.0002
      ims_per_batch: 16
      epochs: 60
      dataloader_workers: 4
      eval_period_epochs: 1

model_overrides:
  mask_rcnn:
    MODEL:
      ROI_HEADS:
        BATCH_SIZE_PER_IMAGE: 512
      RPN:
        PRE_NMS_TOPK_TRAIN: 2000
        PRE_NMS_TOPK_TEST: 1000
        POST_NMS_TOPK_TRAIN: 1000
        POST_NMS_TOPK_TEST: 1000
  mask2former:
    MODEL:
      NUM_OBJECT_QUERIES: 200
      HIDDEN_DIM: 256
      NHEADS: 8
      DROPOUT: 0.1
      DECODER:
        DROP_PATH_RATE: 0.1
    TEST:
      DETECTIONS_PER_IMAGE: 2000
      SCORE_THRESH: 0.0
  maskdino:
    MODEL:
      NUM_OBJECT_QUERIES: 200
      HIDDEN_DIM: 256
      NHEADS: 8
      DROPOUT: 0.1
    TEST:
      DETECTIONS_PER_IMAGE: 2000
      SCORE_THRESH: 0.0

output:
  project_name: yolo
